alembic==1.8.1
asgi_lifespan
asyncio
asyncpg
black
docker
greenlet
loguru
mypy
psycopg2-binary
pydantic
pydantic-settings
pytest
pytest-asyncio
python-decouple
python-dotenv
SQLAlchemy==2.0.0b3
sqlalchemy
pytz
trio
uvloop
aiomisc
git+https://github.com/alirezaheidari-cs/ftgo_utils.git
git+https://github.com/alirezaheidari-cs/rabbitmq_rpc.git