alembic==1.8.1
asgi_lifespan
asyncio
asyncpg
black
docker
greenlet
loguru
mypy
psycopg2-binary
pydantic
pydantic-settings
pytest
pytest-asyncio
python-decouple
python-dotenv
SQLAlchemy==2.0.0b3
sqlalchemy
pytz
trio
uvloop
git+https://github.com/deepmancer/ftgo-utils.git
git+https://github.com/deepmancer/aredis-client.git
git+https://github.com/deepmancer/asyncpg-client.git
git+https://github.com/deepmancer/rabbitmq-rpc.git