argon2_cffi
asgi_lifespan
asyncio
bcrypt
black
colorama
fastapi
greenlet
httpx
isort
loguru
mypy
passlib
pathlib
pre-commit
pyotp
pydantic
pytest
pytest-asyncio
pytest-cov
pytest-xdist
python-decouple
python-dotenv
python-slugify
slowapi
redis
aiocache
pytz
trio
uvicorn
uvloop
starlette
fastapi-versioning
git+https://github.com/alirezaheidari-cs/ftgo_utils.git
git+https://github.com/alirezaheidari-cs/rabbitmq_rpc.git
