argon2_cffi
asgi_lifespan
asyncio
bcrypt
black
colorama
databases
docker
email-validator
fastapi
greenlet
httpx
isort
loguru
mypy
passlib
pathlib
pre-commit
pyotp
bcrypt
pydantic
pytest
pytest-asyncio
PyJWT
pytest-cov
pytest-xdist
python-decouple
python-dotenv
python-jose
python-slugify
redis
aiocache
pytz
validators
trio
uvicorn
uvloop
starlette
fastapi-versioning
fastapi-cache2
authx==0.1.1
fastapi_users
python-jose[cryptography]
git+https://github.com/alirezaheidari-cs/ftgo_utils.git
