argon2_cffi
asgi_lifespan
asyncio
bcrypt
black
colorama
fastapi
pydantic>=2.0.0,<3.0.0
greenlet
httpx
isort
loguru
mypy
passlib
pathlib
pre-commit
pyotp
pytest
pytest-asyncio
pytest-cov
pytest-xdist
python-decouple
python-dotenv
python-slugify
slowapi
redis
aiocache
pytz
trio
uvicorn
uvloop
starlette
git+https://github.com/deepmancer/ftgo-utils.git
git+https://github.com/deepmancer/aredis-client.git
git+https://github.com/deepmancer/rabbitmq-rpc.git
