asgi_lifespan
asyncio
beanie
black
dataclasses
docker
freezegun
greenlet
loguru
motor
pymongo
pydantic>2.0
python-decouple
python-dotenv
pytest
pytest-asyncio
pytest-cov
pytz
trio
uvloop

git+https://github.com/alirezaheidari-cs/aredis-client.git
git+https://github.com/alirezaheidari-cs/ftgo-utils.git
git+https://github.com/alirezaheidari-cs/mongo-motors.git
git+https://github.com/alirezaheidari-cs/rabbitmq-rpc.git